{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
<div class="container my-5 fade-in">
    <h1>About Me</h1>
    <img src="{% static 'images/profileM.jpg' %}" class="img-fluid rounded-circle mb-3" alt="Yego Mercy" style="width: 150px;">
    <p> I’m Mercy Yego, a dedicated and customer-focused hospitality professional with a passion for creating exceptional guest experiences. With a strong background in front office operations and food & beverage service, I take pride in providing top-tier service that enhances customer satisfaction and business growth.
        
        My journey in the hospitality industry began at Kenya Utalii College, where I honed my skills in front office operations. Through hands-on experience at esteemed establishments like Lake Elmenteita Serena Luxury Camp and Utalii Hotel Nairobi, I have developed a strong foundation in guest relations, administrative duties, and customer service excellence.
        
        What sets me apart is my ability to foster meaningful connections with guests, ensuring that every interaction leaves a lasting positive impression. I have successfully implemented customer service strategies that improved client loyalty, reduced complaints, and enhanced overall guest satisfaction.
        
        Beyond my professional expertise, I am a strong communicator, problem solver, and multitasker. My skills in Microsoft Office, database management, and financial transaction handling allow me to operate efficiently in fast-paced environments. Additionally, my multilingual abilities in English, Kiswahili, and basic Italian enable me to interact with diverse clientele.
        
        I am always eager to embrace new challenges and opportunities that allow me to refine my craft and contribute to a dynamic team. If you’re looking for a hospitality professional who brings warmth, efficiency, and a keen eye for detail, I’d love to connect!
        
        Let’s create unforgettable experiences together.
        
        </p>
    <!--<h2>Education</h2>
    <ul>
        <li>Kenya Utalii College - Certificate in Front Office Operations</li>
        <li>Nasokol Girls High School - Kenya Certificate of Secondary Education</li>
    </ul> -->
</div>
{% endblock %}