{% extends 'portfolio/base.html' %}
{% block content %}
<div class="container my-5 fade-in">
    <h1>Services</h1>
    <div class="row">
        <div class="col-md-4">
            <h3>Front Office Operations</h3>
            <ul> 
                <li>check-in and check-out processes ensuring seamless guest experiences.</li>

                <li>Personalized customer service to enhance guest satisfaction and retention.</li>
                
                <li>Managing reservations, handling inquiries, and resolving complaints professionally.</li>
                
                <li>Coordination of concierge services, including travel arrangements and local recommendations.</li>
                
                <li>Maintaining an organized and professional front desk and reception area.</li>
                
                <li>Overseeing security procedures, visitor log management, and access control.</li>
                
                <li>Inventory management for front office supplies and ensuring adequate stock levels.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Food & Beverage Service</h3>
            <ul> 
                <li>in restaurant and bar service, ensuring high-quality guest experiences.</li>

                <li>Knowledge of food safety, table setup, and dining etiquette.</li>
                
                <li>Order management using POS systems for accurate billing and service efficiency.</li>
                
                <li>Serving food and beverages in a professional manner with high levels of customer service.</li>
                
                <li>Setting and cleaning tables and service areas.</li>
                
                <li>Informing customers of daily specials and ensuring customer satisfaction.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Customer Relationship Management</h3>
            <ul>
                <li>Training front office staff in professional customer service techniques.</li>

                <li>Implementation of best practices for handling customer concerns and complaints.</li>
                
                <li>Conducting workshops on guest engagement and service excellence.</li>
                
                <li>Providing guest assistance in English, Kiswahili, and basic Italian.</li>
                
                <li>Translating guest requests and concerns for better communication and service.</li>
                
                <li>Organizing corporate events, private gatherings, and special celebrations within the hospitality sector.</li>
                
                <li>Managing logistics, reservations, and customer preferences to ensure seamless execution.</li>
                
                <li>Professional handling of correspondence, filing, and office documentation.</li>
                
                <li>Data entry, database management, and financial transaction handling.</li>
                
                <li>Proficient use of Microsoft Office for reports, scheduling, and office tasks.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}